/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(72, 173, 156);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
/* header styling*/
h3{
    color: rgb(72, 173, 156);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* image styling*/
.img-thumbnail{
    padding:10px;
    border: none;
}

/* fontstyling for text*/
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding:10px;
}

/* set body background color to grey*/
 body{
    background-color: #e2dcdc;
}

.col-sm-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}
/* navbar styling */
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
    font-weight:bold
}

.nav-item.dropdown.show {
    background-color: #ddd;
}


/* content styling*/
 .content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}
/* small screen adjustments*/
@media(max-width:767px){
    .navbar-expand-lg {
        background-color: rgb(72, 173, 156);    
    }
}
